/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* TRANSIÇÃO SCROOL */

  #sobre {
    scroll-margin-top: -10px; /* altura do header */
  }

  #duvidas {
    scroll-margin-top: 100px; /* altura do header */
  }

  #beneficios {
    scroll-margin-top: 50px; /* altura do header */
  }

  #contato {
    scroll-margin-top: 160px; /* altura do header */
  }

  /* FIM TRANSIÇÃO SCROOL */

  .hamburger {
    display: flex;
  }

  .nav {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    position: absolute;
    top: 57px;
    right: 0;
    width: 100%;
    background: #a7c4bc;
    transform: translateY(-150%);
    transition: transform 0.3s ease;
  }

  .nav.active {
    transform: translateY(0);
    max-width: 100vw;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
  }

  .section-1 {
    height: 115dvh;
    flex-direction: column;
  }

  .texto-section-1 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  h1 {
    line-height: 45px;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  p {
    width: 100%;
    font-size: 1.3rem;
  }

  .btn-agendar {
    width: 70%;
  }

  #psi {
    width: 75%;
  }

  /* CONTEINER 02 - SOBRE */

  .container-02 {
    width: 100%;
    height: 110dvh;
    margin-top: 30px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .container-02 > img {
    padding: 0px;
    width: 75%;
    height: 35%;
    margin: 0 auto;
  }

  h2 {
    font-size: 2.5rem;
    padding: 5px 0px;
  }

  .texto-02 {
    font-size: 1.3rem;
  }

  .texto-section-2 {
    width: 100%;
    padding: 0px 20px;
  }

  /* CONTEINER 03 - DÚVIDAS FREQUENTES */

  .container-03 {
    height: 80dvh;
  }

  .wave-top {
    top: -45px;
    left: 0;
  }

  .wave-top svg {
    display: block;
    width: 100%;
    height: 120px;
  }

  #text-h2-container-03 {
    font-size: 2.5rem;
    z-index: 0;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
    padding: 10px 15px;
    font-size: 0.95rem;
  }

  /* CONTEINER 04 - BENEFICIOS */

  .container-04 {
    height: 180dvh;
    flex-direction: column;
    padding: 0px 0px;
    overflow-x: hidden;
  }

  h4 {
    font-size: 2.5rem;
    padding: 20px 0px;
  }

  .text-section {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    padding: 0px 20px;
  }

  .text-progress {
    font-size: 1.2rem;
    margin: 0 auto;
  }

  #bipolarsvg {
    width: 75%;
    padding-top: 50px;
    margin: 0 auto;
  }

  /* CONTEINER 05 - FORMULARIO */

  .conteiner-05 {
    width: 100%;
    height: 130dvh;
    flex-direction: column;
  }

  .conteinar-05-text {
    width: 100%;
    padding: 0px 20px;
  }

  .contato-info > h4 {
    font-size: 2.8rem;
    font-weight: 400;
  }

  .contato-info p {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0px;
    font-size: 1.3rem;
  }

  /* FORMULARIO */

  .formulario .titulo {
    font-size: 1.8em;
    text-align: center;
  }

  .formulario {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    max-width: 350px;
    margin-top: 20px;
  }

  .input-bordas {
    font: 15px/24px "Google Sans", Arial, sans-serif;
    color: #333;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    position: absolute;
    top: 57px;
    right: 0;
    width: 100%;
    background: #a7c4bc;
    transform: translateY(-150%);
    transition: transform 0.3s ease;
  }

  .nav.active {
    transform: translateY(0);
    max-width: 100vw;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
  }

  .section-1 {
    height: 115dvh;
    flex-direction: column;
  }

  .texto-section-1 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  h1 {
    line-height: 50px;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
  }

  p {
    width: 100%;
    font-size: 1.5rem;
  }

  .btn-agendar {
    width: 50%;
  }

  #psi {
    width: 65%;
  }

  /* CONTEINER 02 - SOBRE */

  .container-02 {
    width: 100%;
    height: 110dvh;
    margin-top: 30px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .container-02 > img {
    padding: 0px;
    width: 75%;
    height: 35%;
    margin: 0 auto;
  }

  h2 {
    font-size: 3.2rem;
    padding: 5px 0px;
  }

  .texto-02 {
    font-size: 1.5rem;
  }

  .texto-section-2 {
    width: 100%;
    padding: 0px 20px;
  }

  /* CONTEINER 03 - DÚVIDAS FREQUENTES */

  .container-03 {
    height: 80dvh;
  }

  .wave-top {
    top: -45px;
    left: 0;
  }

  .wave-top svg {
    display: block;
    width: 100%;
    height: 120px;
  }

  #text-h2-container-03 {
    font-size: 3.2rem;
    z-index: 0;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
    padding: 10px 15px;
    font-size: 1.1rem;
  }

  /* CONTEINER 04 - BENEFICIOS */

  .container-04 {
    height: 180dvh;
    flex-direction: column;
    padding: 0px 0px;
    overflow-x: hidden;
  }

  h4 {
    font-size: 3.2rem;
    padding: 20px 0px;
  }

  .text-section {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    padding: 0px 20px;
  }

  .text-progress {
    font-size: 1.3rem;
    margin: 0 auto;
  }

  #bipolarsvg {
    width: 60%;
    padding-top: 50px;
    margin: 0 auto;
  }

  /* CONTEINER 05 - FORMULARIO */

  .conteiner-05 {
    width: 100%;
    height: 130dvh;
    flex-direction: column;
  }

  .conteinar-05-text {
    width: 100%;
    padding: 0px 20px;
  }

  #contato {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
  }

  .contato-info p {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    font-size: 1.3rem;
  }

  /* FORMULARIO */

  .formulario .titulo {
    font-size: 1.8em;
    text-align: center;
  }

  .formulario {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    max-width: 450px;
    margin-top: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 960px) {
  .hamburger {
    display: flex;
  }

  .nav {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    position: absolute;
    top: 57px;
    right: 0;
    width: 100%;
    background: #a7c4bc;
    transform: translateY(-150%);
    transition: transform 0.3s ease;
  }

  .nav.active {
    transform: translateY(0);
    max-width: 100vw;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
  }

  .section-1 {
    height: 115dvh;
    flex-direction: column;
  }

  .texto-section-1 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  h1 {
    line-height: 60px;
    font-size: 3.8rem;
    margin: 0;
    padding: 0;
  }

  p {
    width: 100%;
    font-size: 1.5rem;
  }

  .btn-agendar {
    width: 40%;
  }

  #psi {
    width: 50%;
  }

  /* CONTEINER 02 - SOBRE */

  .container-02 {
    margin: 0 auto;
    width: 90%;
    height: 120dvh;
    margin-top: 30px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .container-02 > img {
    padding: 0px;
    width: 75%;
    height: 45%;
    margin: 0 auto;
  }

  h2 {
    font-size: 3.2rem;
    padding: 5px 0px;
  }

  .texto-02 {
    font-size: 1.5rem;
  }

  .texto-section-2 {
    width: 100%;
    padding: 0px 20px;
  }

  /* CONTEINER 03 - DÚVIDAS FREQUENTES */

  .container-03 {
    height: 80dvh;
  }

  .wave-top {
    top: -45px;
    left: 0;
  }

  .wave-top svg {
    display: block;
    width: 100%;
    height: 120px;
  }

  #text-h2-container-03 {
    font-size: 3.2rem;
    z-index: 0;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
    padding: 10px 15px;
    font-size: 1.1rem;
  }

  /* CONTEINER 04 - BENEFICIOS */

  .container-04 {
    height: 185dvh;
    flex-direction: column;
    padding: 0px 0px;
    overflow-x: hidden;
  }

  h4 {
    font-size: 3.2rem;
    padding: 20px 0px;
  }

  .text-section {
    flex-direction: column;
    width: 90%;
    margin-left: 0px;
    padding: 0px 20px;
  }

  .progress-section {
    max-width: 90%;
    padding: 0px 30px;
  }

  .text-progress {
    font-size: 1.3rem;
    margin: 0 auto;
  }

  #bipolarsvg {
    width: 45%;
    padding-top: 50px;
    margin: 0 auto;
  }

  /* CONTEINER 05 - FORMULARIO */

  .conteiner-05 {
    width: 100%;
    height: 130dvh;
    flex-direction: column;
  }

  .conteinar-05-text {
    width: 95%;
    padding: 0px 20px;
  }

  #contato {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
  }

  .contato-info p {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    font-size: 1.3rem;
  }

  /* FORMULARIO */

  .formulario .titulo {
    font-size: 1.8em;
    text-align: center;
  }

  .formulario {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    max-width: 450px;
    margin-top: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 961px) and (max-width: 1024px) {
  .section-1 {
    height: 115dvh;
    flex-direction: column;
  }

  .texto-section-1 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  h1 {
    line-height: 60px;
    font-size: 3.8rem;
    margin: 0;
    padding: 0;
  }

  p {
    width: 100%;
    font-size: 1.5rem;
  }

  .btn-agendar {
    width: 30%;
  }

  #psi {
    width: 50%;
  }

  /* CONTEINER 02 - SOBRE */

  .container-02 {
    width: 100%;
    height: 110dvh;
    margin-top: 30px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .container-02 > img {
    padding: 0px;
    width: 85%;
    height: 45%;
    margin: 0 auto;
  }

  h2 {
    font-size: 3.5rem;
    padding: 5px 0px;
  }

  .texto-02 {
    font-size: 1.5rem;
  }

  .texto-section-2 {
    width: 100%;
    padding: 0px 30px;
  }

  /* CONTEINER 03 - DÚVIDAS FREQUENTES */

  .container-03 {
    height: 80dvh;
  }

  .wave-top {
    top: -45px;
    left: 0;
  }

  .wave-top svg {
    display: block;
    width: 100%;
    height: 120px;
  }

  #text-h2-container-03 {
    font-size: 3.5rem;
    z-index: 0;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.1rem;
  }

  /* CONTEINER 04 - BENEFICIOS */

  .container-04 {
    height: 170dvh;
    flex-direction: column;
    padding: 0px 0px;
    overflow-x: hidden;
  }

  h4 {
    font-size: 3.5rem;
    padding: 25px 0px;
  }

  .text-section {
    flex-direction: column;
    width: 85%;
    margin-left: 0px;
    padding: 0px 30px;
  }

  .progress-section {
    max-width: 85%;
    padding: 0px 30px;
  }

  .text-progress {
    font-size: 1.5rem;
    margin: 0 auto;
  }

  #bipolarsvg {
    width: 50%;
    padding-top: 50px;
    margin: 0 auto;
  }

  /* CONTEINER 05 - FORMULARIO */

  .conteiner-05 {
    width: 100%;
    height: 130dvh;
    flex-direction: column;
  }

  .conteinar-05-text {
    width: 100%;
    padding: 0px 20px;
  }

  #contato {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    font-weight: 400;
  }

  .contato-info p {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    font-size: 1.6rem;
  }

  /* FORMULARIO */

  .formulario .titulo {
    font-size: 1.8em;
    text-align: center;
  }

  .formulario {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    max-width: 550px;
    margin-top: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .section-1 {
    height: 115dvh;
    flex-direction: column;
  }

  .texto-section-1 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  h1 {
    width: 80%;
    line-height: 60px;
    font-size: 3.8rem;
    margin: 0;
    padding: 0;
  }

  p {
    width: 90%;
    font-size: 1.5rem;
  }

  .btn-agendar {
    width: 30%;
  }

  #psi {
    width: 40%;
  }

  /* CONTEINER 02 - SOBRE */

  .container-02 {
    width: 100%;
    height: 110dvh;
    margin-top: 30px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .container-02 > img {
    padding: 0px;
    width: 85%;
    height: 45%;
    margin: 0 auto;
  }

  h2 {
    font-size: 3.5rem;
    padding: 5px 0px;
  }

  .texto-02 {
    font-size: 1.5rem;
  }

  .texto-section-2 {
    width: 100%;
    padding: 0px 30px;
  }

  /* CONTEINER 03 - DÚVIDAS FREQUENTES */

  .container-03 {
    height: 80dvh;
  }

  .wave-top {
    top: -45px;
    left: 0;
  }

  .wave-top svg {
    display: block;
    width: 100%;
    height: 120px;
  }

  #text-h2-container-03 {
    font-size: 3.5rem;
    z-index: 0;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.1rem;
  }

  /* CONTEINER 04 - BENEFICIOS */

  .container-04 {
    height: 170dvh;
    flex-direction: column;
    padding: 0px 0px;
    overflow-x: hidden;
  }

  h4 {
    font-size: 3.5rem;
    padding: 25px 0px;
  }

  .text-section {
    flex-direction: column;
    width: 90%;
    margin-left: 0px;
    padding: 0px 30px;
  }

  .progress-section {
    max-width: 90%;
    padding: 0px 30px;
  }

  .text-progress {
    font-size: 1.5rem;
    margin: 0 auto;
  }

  #bipolarsvg {
    width: 50%;
    padding-top: 50px;
    margin: 0 auto;
  }

  /* CONTEINER 05 - FORMULARIO */

  .conteiner-05 {
    width: 100%;
    height: 140dvh;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .conteinar-05-text {
    width: 85%;
    padding: 0px 20px;
  }

  #contato {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    font-weight: 400;
  }

  .contato-info p {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    font-size: 1.6rem;
  }

  /* FORMULARIO */

  .formulario .titulo {
    font-size: 1.8em;
    text-align: center;
  }

  .formulario {
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    max-width: 450px;
    margin-top: 20px;
  }
}
