@charset "UTF-8";

@media only screen and (max-width: 600px) {
  .container {
    overflow-x: hidden;
  }

  span {
    color: #8faadf;
  }

  .main > h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    line-height: 2.4rem;
    max-width: 95%;
  }

  .main > p {
    font-size: 1rem;
    max-width: 95%;
    margin: 15px auto;
  }

  .input-btn {
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 90%;
  }

  .input-btn > .btns > button {
    width: 5.5rem;
    background-color: #8faadf;
  }
  .input-btn > input {
    width: 6rem;
  }
  .res {
    max-width: 98%;
    margin: 0 auto;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .container {
    overflow-x: hidden;
    margin: auto;
    min-width: 90%;
    height: 100%;
  }

  span {
    color: #8faadf;
  }

  .main > h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    line-height: 2.4rem;
    width: 100%;
  }

  .main > p {
    font-size: 1rem;
    max-width: 100%;
    margin: 15px auto;
  }

  .input-btn {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
  }

  .input-btn > .btns > button {
    width: 5.5rem;
    background-color: #8faadf;
  }

  .input-btn > input {
    width: 6rem;
  }

  .res {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .container {
    overflow-x: hidden;
    margin: auto;
    min-width: 90%;
    height: 100%;
  }

  span {
    color: #8faadf;
  }

  .main > h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    line-height: 2.4rem;
    width: 100%;
  }

  .main > p {
    font-size: 1rem;
    max-width: 100%;
    margin: 15px auto;
  }

  .input-btn {
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 100%;
  }

  .input-btn > .btns > button {
    width: 4rem;
    background-color: #8faadf;
  }

  .input-btn > input {
    width: 4rem;
  }

  .input-btn{
    color: #8faadf;
  }

  .res {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
  .container {
    overflow-x: hidden;
    margin: auto;
    min-width: 90%;
    height: 100%;
  }

  span {
    color: #8faadf;
  }

  .main > h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    line-height: 2.4rem;
    width: 100%;
  }

  .main > p {
    font-size: 1rem;
    max-width: 100%;
    margin: 15px auto;
  }

  .input-btn {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
  }

  .input-btn > .btns > button {
    width: 5.5rem;
    background-color: #8faadf;
  }

  .input-btn > input {
    width: 6rem;
  }

  .res {
    max-width: 100%;
    margin: 0 auto;
  }
}
