@charset "UTF-8";

@media only screen and (max-width: 600px) {
  .container {
    overflow-x: hidden;
  }

  .main {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .card {
    max-width: 50%;
    max-height: 100%;
    margin: auto;
  }

  .text-about {
    flex-wrap: wrap;
  }

  .main > .text-about > h1 {
    font-size: 2.3rem;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 2.3rem;
  }

  .main > .text-about > p {
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
  }

  hr {
    display: block;
    width: 85%;
    margin: auto;
  }

  .text-about > .only-mobile {
    display: block;
    font-size: 1.9rem;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    line-height: 2rem;
  }

  .text-about > .p-only {
    padding-bottom: 20px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }

  .header {
    min-width: 100%;
  }

  .main {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .card {
    max-width: 50%;
    max-height: 100%;
    margin: auto;
  }

  .text-about {
    flex-wrap: wrap;
  }

  .main > .text-about > h1 {
    font-size: 2.5rem;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    line-height: 2.4rem;
  }

  .main > .text-about > p {
    font-size: 1rem;
    width: 85%;
    margin: auto;
  }

  hr {
    display: block;
    width: 85%;
    margin: auto;
  }

  .text-about > .only-mobile {
    display: block;
    font-size: 1.9rem;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    line-height: 2.4rem;
  }

  .text-about > .p-only {
    padding-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .container {
    overflow-x: hidden;
  }

  .header {
    min-width: 100%;
  }

  .main {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .card {
    max-width: 40%;
    max-height: 100%;
    margin: auto;
  }

  .text-about {
    flex-wrap: wrap;
  }

  .main > .text-about > h1 {
    font-size: 3rem;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    line-height: 2.6rem;
  }

  .main > .text-about > p {
    font-size: 1.05rem;
    width: 80%;
    margin: auto;
  }

  hr {
    display: none;
  }

  .text-about > .only-mobile {
    display: block;
    font-size: 1.9rem;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    line-height: 2.4rem;
  }

  .text-about > .p-only {
    padding-bottom: 20px;
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
  .container {
    overflow-x: hidden;
  }

  .header {
    min-width: 100%;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
  }

  .card {
    max-width: 20%;
    max-height: 100%;
    margin: auto;
    margin-left: 2rem;
  }

  .text-about {
    flex-wrap: wrap;
  }

  .main > .text-about > h1 {
    font-size: 2.3rem;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    line-height: 2.2rem;
  }

  .main > .text-about > p {
    font-size: 0.98rem;
    width: 90%;
    margin: auto;
  }

  hr {
    display: none;
  }

  br {
    display: none;
  }

  .text-about > .only-mobile {
    display: block;
    font-size: 1.9rem;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    line-height: 2.4rem;
  }

  .text-about > .p-only {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .container {
    overflow-x: hidden;
  }

  .header {
    min-width: 100%;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
  }

  .card {
    max-width: 20%;
    max-height: 100%;
    margin: auto;
    margin-left: 2rem;
  }

  .text-about {
    flex-wrap: wrap;
  }

  .main > .text-about > h1 {
    font-size: 2.8rem;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    line-height: 2.2rem;
  }

  .main > .text-about > p {
    font-size: 1rem;
    width: 90%;
    margin: auto;
  }

  hr {
    display: none;
  }

  br {
    display: none;
  }

  .text-about > .only-mobile {
    display: block;
    font-size: 1.9rem;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    line-height: 2.4rem;
  }

  .text-about > .p-only {
    padding-bottom: 20px;
  }
}
