@charset "UTF-8";
@media only screen and (max-width: 600px) {
  .container {
    overflow-x: hidden;
  }

  .main > .text-main > h1 {
    font-size: 2.5rem;
    line-height: 80%;
    padding: 15px 0px 15px 0px;
    max-width: 95%;
    margin: auto;
    text-align: start;
  }

  .main {
    align-items: flex-start;
    flex-direction: column-reverse;
    padding-top: 10px;
    text-align: center;
  }

  .main > .text-main > p {
    font-size: 1rem;
    padding: 10px 0px 15px 0px;
    max-width: 95%;
    margin: auto;
    text-align: start;
  }

  .cssbuttons-io-button {
    min-width: 25%;
    margin: 15px auto;
  }

  .animation {
    margin: auto;
    width: 80%;
  }

  .mobilesvg {
    width: none;
  }

  br {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
  .main {
    align-items: flex-start;
    flex-direction: column-reverse;
    padding-top: 10px;
    text-align: center;
  }

  .main > .text-main > h1 {
    font-size: 3rem;
    line-height: 80%;
    padding: 25px 0px 25px 0px;
    max-width: 95%;
    margin: auto;
    text-align: start;
  }

  .main > .text-main > p {
    font-size: 1rem;
    padding: 0px 0px 20px 0px;
    max-width: 95%;
    margin: auto;
    text-align: start;
  }

  .cssbuttons-io-button {
    margin: auto;
    min-width: 25%;
  }

  .animation {
    margin: auto;
    width: 75%;
  }

  .mobilesvg {
    width: none;
  }

  br {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .container {
    overflow-x: hidden;
  }

  .header {
    min-width: 100%;
  }

  .main {
    align-items: flex-start;
    flex-direction: column-reverse;
    padding-top: 10px;
    text-align: center;
  }

  .main > .text-main > h1 {
    font-size: 3.5rem;
    line-height: 80%;
    padding: 5px 0px 20px 0px;
    max-width: 95%;
    margin: auto;
    text-align: start;
  }

  .main > .text-main > p {
    font-size: 1rem;
    padding: 0px 0px 20px 0px;
    max-width: 95%;
    margin: auto;
    text-align: start;
  }

  .cssbuttons-io-button {
    margin: auto;
    min-width: 25%;
  }

  .animation {
    margin: auto;
    width: 60%;
  }

  .mobilesvg {
    width: none;
  }

  br {
    display: none;
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
.container {
    overflow-x: hidden;
    width: 100%;
  }

  .header {
    min-width: 100%;
  }

  .main {
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    padding-top: 10px;
    min-width: 100%;
  }

  .main > .text-main > h1 {
    font-size: 3.4rem;
    line-height: 80%;
    padding: 30px 0px 10px 50px;
    min-width: 100%;
  }

  .main > .text-main > p {
    font-size: 1.15rem;
    padding: 0px;
    padding: 30px 0px 50px 50px;
    max-width: 100%;
  }

  .cssbuttons-io-button {
    min-width: 20%;
    margin: auto;
    margin-left: 35px;
  }

  .animation {
    margin: auto;
    min-width: 40%;
  }

  br {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .container {
    overflow-x: hidden;
    width: 100%;
  }

  .header {
    min-width: 100%;
  }

  .main {
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    padding-top: 10px;
    min-width: 100%;
  }

  .main > .text-main > h1 {
    font-size: 3.7rem;
    line-height: 80%;
    padding: 30px 0px 10px 50px;
    min-width: 100%;
  }

  .main > .text-main > p {
    font-size: 1.15rem;
    padding: 0px;
    padding: 30px 0px 50px 50px;
    max-width: 100%;
  }

  .cssbuttons-io-button {
    min-width: 20%;
    margin: auto;
    margin-left: 35px;
  }

  .animation {
    margin: auto;
    min-width: 40%;
  }

  br {
    display: none;
  }
}


