@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); /*Roboto*/

.card {
  display: flex;
  flex-direction: column;
  background-image: url(../img/profile.png);
  border-radius: 20px;
  min-width: 310px;
  min-height: 490px;
  box-shadow: 6px 6px 29px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-color: #000000;
  margin-bottom: 20px;
}
.card-body {
  background-color: #8faadf;
  flex-grow: 1;
  padding: 24px;
}

.card-title {
  color: #000000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0px;
  padding: 0px;
}
.card-text {
  line-height: 1.2;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  letter-spacing: -0.6px;
  margin: 10px 0px 0px 0px;
  font-size: 1rem;
  color: #000000;
}
