@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); /*Roboto*/

/*Colors: #8FAADF - #E4E5E9*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

body {
  background-color: #202125;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.navbar {
  position: absolute;
}

span {
  color: #8faadf;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5rem;
  width: 100%;
}

.text-main > h1 {
  color: #e4e5e9;
  font-size: 4rem;
  letter-spacing: -2px;
  max-width: 640px;
  line-height: 3.2rem;
}

.text-main > p {
  color: #959597;
  font-size: 1.1rem;
  max-width: 600px;
  padding: 10px 0px 50px 0px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn > a {
  text-decoration: none;
}

.cssbuttons-io-button {
  background: #8faadf;
  color: #202125;
  padding: 0.35em;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 300;
  border-radius: 0.9em;
  border: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #202125;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.animation {
  min-width: 40%;
}

.mobilesvg {
  display: none;
}
